.fg {
  background-color: #837960;
  background-image: linear-gradient(
      rgba(241, 245, 248, 1) 25%,
      hsla(209, 28%, 39%, 0.25)
    ),
    url("/images/icons/veg.png");
  /* background-color: rgba(92, 71, 25, 1); */
  background-color: hsl(209, 28%, 39%);
}
