@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

:root {
  --font-title: "Shadows Into Light Two", cursive;
  --font-primary: cursive;
  --font-size: 16px;
  --letter-spacing: 0.025rem;

  --color-bg: rgba(244, 235, 218, 0.75);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Shadows Into Light", cursive; */
  font-family: var(--font-primary);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  background: url("../images/pexels-rachel-claire-4992465.jpg");
  background-position: 95% 60%;
  height: 100%;
}

.title {
  font-family: var(--font-title);
  font-size: 3rem;
  padding: 2rem;
}

header,
main {
  width: 90%;
  margin: 0 auto;
  border-top: none;
  border-radius: 1rem;
  text-align: center;
}

p {
  max-width: 66ch;
  text-align: justify;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

p:last-child {
  padding-bottom: 0;
}

section {
  width: 80%;
  margin: 2rem auto;
  background-color: var(--color-bg);
  border-radius: 4px;
  padding: 2rem;
}

section img {
  width: 80%;
}

figcaption {
  padding-bottom: 1rem;
}

header p:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 850px) {
  header {
    width: 90vw;
    padding: 0;
  }
  header p {
    width: 100%;
  }
  section {
    width: 100%;
    padding: 1rem;
  }
}

footer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: center;
  align-items: flex-start;
  justify-content: space-around;
  /* height: 3rem; */
  border-top: 1px solid var(--color-bg);
  padding-top: 1rem;
}

footer p {
  padding-bottom: 0;
  margin: 0;
}
footer ul {
  list-style: none;
}
