@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  position: fixed;
  top: 0%;
  background-color: rgba(255, 255, 255, 0.01);
  padding: 0.2em 2em 0.2em 0;
  border-radius: 0 5px 5px 0;
  left: -11.5em;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.125em;
  z-index: 10;
}

.menu-title {
  text-align: center;
  /* padding-right: 0.5rem; */
  background: rgba(222, 229, 235, 0.75);
  border-radius: 4px;
  width: 3.25rem;
  float: right;
}

.menu-overlay {
  /* background: rgba(41, 51, 59, 0.1); */
  width: 15em;
  padding: 0.2em 0.2em 0.2em 0;
  border-radius: 0 5px 5px 0;
  /* border: 2px outset rgba(58, 58, 58, 0.75); */
  border-left: 0;
}

.menu-overlay:hover {
  background: rgba(222, 229, 235, 0.85);
}

.menu-list {
  background-color: rgba(150, 0, 150, 0);
  width: 11.5em;
  list-style: none;
}

.menu-list a {
  text-decoration: none;
  color: white;
}

.menu-btn a {
  display: flex;
  flex-direction: row; /* make main axis horizontal*/
  min-height: 2em;
  text-decoration: none;
  align-items: center; /* center items vertically - in flex row*/
  justify-content: center; /* center items horizontally - in flex row*/
  text-align: center; /* center anything misbehaving - top & bot row of list*/
  color: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 33, 66, 0.1) 2px,
    rgba(49, 61, 71, 0.1) 2px,
    rgba(49, 61, 71, 0.1) 94%,
    rgb(184, 238, 248)
  );
  padding: 5px 5px 5px 5px;
  border-bottom: 2px solid rgb(30, 34, 43);
  border-right: 1px solid rgb(64, 70, 77);
  border-left: 1px solid rgb(23, 41, 58);
  border-radius: 2.5px;
}
.menu {
  transition: 0.35s;
}

.menu:hover {
  left: 0;
}

.menu-btn a:hover {
  text-decoration: none;
  color: rgb(255, 238, 0);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 33, 66, 0.85) 2px,
    rgba(49, 61, 71, 0.85) 2px,
    rgba(49, 61, 71, 0.85) 94%,
    rgb(184, 238, 248)
  );
  border-bottom: 2px solid #1e222b;
  border-right: 1px solid #1e222b;
  box-shadow: inset 2px 2px 2px #1e222b;
}

@media screen and (max-width: 850px) {
  .menu-title {
    background: rgba(222, 229, 235, 1);
    padding: 0.25rem;
  }
}
