/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-yellow-golden: hsla(43, 100%, 57%, 0.5);
  --clr-yellow-golden-pale: hsla(43, 50%, 62%);
  --clr-yellow-bg: hsla(43, 50%, 62%, 0.25);

  --clr-black: #222;
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Poppins", sans-serif;
  --transition: all 0.15s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
}
ul {
  list-style-type: none;
  color: var(--clr-grey-4);
  line-height: 1.5;
}
ol {
  color: var(--clr-grey-4);
  line-height: 1.5;
  list-style-position: inside;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1rem;
  color: var(--clr-grey-4);
}
@media screen and (min-width: 850px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
About
===============
*/
.title {
  text-align: center;
  margin: 2rem 0 2rem 0;
}
.title p {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
.title p:not(:last-child) {
  padding-bottom: 1rem;
}

.justify {
  text-align: justify;
}

.about-img {
  margin-bottom: 2rem;
}
.about-img img {
  border-radius: var(--radius);
  object-fit: cover;
  height: 20rem;
}
@media screen and (min-width: 992px) {
  .about-img {
    margin-bottom: 0;
  }

  .about-img img {
    margin-bottom: 0;
    position: sticky;
    top: 9rem;
    border: 3px solid var(--clr-grey-9);
    box-shadow: 1px 1px 6px 2px var(--clr-grey-8);
  }

  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
.about {
  background: var(--clr-white);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
}
.btn-container {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}
.tab-btn:nth-child(2) {
  border-top-right-radius: var(--radius);
}
.tab-btn {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
}

.tab-btn.active {
  border: 1px solid var(--clr-grey-9);
  border-bottom: none;
}
.tab-btn:not(.active) {
  border-bottom: 1px solid var(--clr-grey-9);
}

.tab-btn:hover:not(.active) {
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
}
.about-content {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 2rem 1.5rem;

  border: 1px solid var(--clr-grey-9);
  border-top: none;
}
.about-content-main {
  border-radius: var(--radius);
  padding: 2rem 1.5rem;
  border: 1px solid var(--clr-grey-9);
  margin-bottom: 1rem;
}
.about-content-main:nth-child(2) {
  margin-top: 2rem;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  /* padding-bottom: 0.75rem; */
}

.card_image_round img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--clr-grey-8);
  border-radius: 50%;
}

.spacer {
  padding-bottom: 1rem;
}

/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}
.content.active {
  display: block;
}

/* 
================================================================
Navigation NB: Dynamically Gernerated with `navMenu(navContent)`
================================================================
*/

.nav {
  position: fixed;
  top: 0%;
  background-color: rgba(255, 255, 255, 0.01);
  padding: 0.2em 2em 0.2em 0;
  border-radius: 0 5px 5px 0;
  left: -11.5em;
  font-family: var(--ff-primary);
  font-size: 1rem;
  letter-spacing: 0.125em;
  z-index: 10;
}

.nav-title {
  text-align: center;
  /* padding-right: 0.5rem; */
  background: rgba(222, 229, 235, 0.75);
  border-radius: 4px;
  width: 3.25rem;
  float: right;
}

.nav-overlay {
  /* background: rgba(41, 51, 59, 0.1); */
  width: 15em;
  padding: 0.2em 0.2em 0.2em 0;
  border-radius: 0 5px 5px 0;
  /* border: 2px outset rgba(58, 58, 58, 0.75); */
  border-left: 0;
}

.nav-overlay:hover {
  background: rgba(222, 229, 235, 0.85);
}

.nav-list {
  background-color: rgba(150, 0, 150, 0);
  width: 11.5em;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.nav-btn a {
  display: flex;
  flex-direction: row; /* make main axis horizontal*/
  min-height: 2em;
  text-decoration: none;
  align-items: center; /* center items vertically - in flex row*/
  justify-content: center; /* center items horizontally - in flex row*/
  text-align: center; /* center anything misbehaving - top & bot row of list*/
  color: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 33, 66, 0.1) 2px,
    rgba(49, 61, 71, 0.1) 2px,
    rgba(49, 61, 71, 0.1) 94%,
    rgb(184, 238, 248)
  );
  padding: 5px 5px 5px 5px;
  border-bottom: 2px solid rgb(30, 34, 43);
  border-right: 1px solid rgb(64, 70, 77);
  border-left: 1px solid rgb(23, 41, 58);
  border-radius: 2.5px;
}
.nav {
  transition: 0.35s;
}

.nav:hover {
  left: 0;
}

.nav-btn a:hover {
  text-decoration: none;
  color: rgb(255, 238, 0);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 33, 66, 0.85) 2px,
    rgba(49, 61, 71, 0.85) 2px,
    rgba(49, 61, 71, 0.85) 94%,
    rgb(184, 238, 248)
  );
  border-bottom: 2px solid #1e222b;
  border-right: 1px solid #1e222b;
  box-shadow: inset 2px 2px 2px #1e222b;
}

@media screen and (max-width: 850px) {
  .nav-title {
    background: rgba(222, 229, 235, 1);
    padding: 0.25rem;
  }
}

/* ============
   ** Recipe Method Specific Styles **
   ============
*/
.recipe-links li {
  color: var(--clr-grey-4);
  padding: 0.5rem;
}
.recipe-links a:visited {
  color: var(--clr-grey-4);
}

/* ============
   ** Header **
   ============
*/
header a {
  color: var(--clr-grey-4);
}
header a:visited {
  color: var(--clr-grey-4);
}

header li {
  padding: 0.5rem;
}

/* ============
   ** Footer **
   ============
*/

footer {
  font-size: 0.8rem;
  color: var(--clr-grey-10);
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  align-items: flex-end;
  justify-content: space-around;
  border-top: 1px solid var(--clr-grey-9);
  padding-bottom: 1rem;
  margin-top: 2rem;
}

footer p {
  padding-top: 0.5rem;
  margin: 0;
  list-style: none;
}
footer li {
  padding-top: 0.5rem;
}
footer a {
  color: var(--clr-grey-4);
}
footer a:visited {
  color: var(--clr-grey-4);
}

@media screen and (max-width: 650px) {
  footer {
    flex-flow: column wrap;
    align-items: center;
  }
}

/* =======================
   ** RECIPE GRID START **
   =======================
*/

.recipe-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-items: center; */
  align-items: start;
  margin: 0 auto;
  max-width: 1170px;
}

.recipe-grid div {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--clr-grey-9);
  border-radius: var(--radius);
  padding: 1rem;
  text-align: justify;
  /* background: url(../images/chopping-board.jpg) center no-repeat;
  background-size: contain; */
}

.recipe-grid .link:hover {
  border: 1px solid var(--clr-yellow-golden-pale);
  box-shadow: 0px 0px 5px 1px var(--clr-yellow-golden);
}

.recipe-grid img {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--clr-grey-8);
  box-shadow: 0px 2px 4px 1px var(--clr-grey-1);
  background-color: var(--clr-black);
}

.recipe-grid a {
  margin: 0 auto;
}
.recipe-grid figcaption {
  color: var(--clr-grey-4);
  margin: 1rem auto 0;
  text-transform: capitalize;
}

/* 
      ==============
      ** Sausages **
      ==============
*/
/* ROW 1 */
.item-a {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.item-b {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.item-c {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

/* ROW 2 */
.item-d {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.item-e {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

/* 
      =============
      ** Chicken **
      =============
*/
/* ROW 3 */
.item-f {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.item-g {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.item-h {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

/* ROW 4 */
.item-i {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
.item-j {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.item-k {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

/* 
      ==========
      ** Beef **
      ==========
*/
.item-l {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}
.item-m {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

/* 
      ==========
      ** Pork **
      ==========
*/

.item-n {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}
.item-o {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

/* 
      ==================
      ** Cheese Sauce **
      ==================
*/
.item-p {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}
.item-q {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}
.item-r {
  grid-column: 3 / 4;
  grid-row: 7 / 8;
}

@media screen and (max-width: 650px) {
  .recipe-grid {
    grid-template-columns: 1fr;
    max-width: 85vw;
    gap: 1rem;
  }
  /* 
      ==============
      ** Sausages **
      ==============
  */
  .item-a {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .item-b {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .item-c {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .item-d {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .item-e {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }

  /* 
      =============
      ** Chicken **
      =============
  */

  .item-f {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }
  .item-g {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }
  .item-h {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
  }
  .item-i {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
  }
  .item-j {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
  }

  /* 
      ==================
      ** Beef **
      ==================
  */

  .item-k {
    grid-column: 1 / 2;
    grid-row: 12 / 13;
  }
  .item-l {
    grid-column: 1 / 2;
    grid-row: 13 / 14;
  }

  /* 
      ==================
      ** Pork **
      ==================
  */
  .item-m {
    grid-column: 1 / 2;
    grid-row: 14 / 15;
  }
  .item-n {
    grid-column: 1 / 2;
    grid-row: 15 / 16;
  }

  /* 
      ==================
      ** Cheese Sauce **
      ==================
  */
  .item-o {
    grid-column: 1 / 2;
    grid-row: 16 / 17;
  }
  .item-p {
    grid-column: 1 / 2;
    grid-row: 17 / 18;
  }
  .item-q {
    grid-column: 1 / 2;
    grid-row: 18 / 19;
  }
  .item-r {
    grid-column: 1 / 2;
    grid-row: 19 / 20;
  }
}

/* =====================
   ** RECIPE GRID END **
   =====================
*/
