/* 
    ======================
    JUST FOR TEST PURPOSES
    ======================
*/

.list-btn-wrapper {
  display: flex;
  flex-direction: column;
}

.list-btn {
  color: var(--clr-grey-4);
  border: 1px solid var(--clr-grey-8);
  border-radius: var(--radius);
  margin: 0.5rem;
  padding: 0.025rem 0.5rem;
  width: fit-content;
  align-self: center;
}

.list-btn:hover {
  border: 1px solid var(--clr-yellow-golden-pale);
  box-shadow: 0px 0px 5px 1px var(--clr-yellow-golden);
  cursor: pointer;
}
.list-btn a:visited {
  color: var(--clr-grey-4);
}
